*{
    box-sizing: border-box;
}


#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonGroup{
    position: relative;
    margin: auto;
    text-align: center;
    z-index: 5;
}

#addWheelArea{
    position: sticky;
    top: 0;
}

#addWheel{
    position: absolute;
    right: 0;
}

.wheelContainer{
    position: relative;
    min-height: 410px;
    min-width: 410px;
}

.container{
    width: 400px;
}

.wheelCanvas{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    transform: rotate(var(--r, 0deg));
}

.pointerCanvas{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
}

.wheelCanvas.active{
    animation-name: spin;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from{
        transform: rotate(var(--s, 0deg));
    }
    to{
        transform: rotate(var(--e, 0deg));
    }
}
